.odoo-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: none !important; 
}

.odoo-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  cursor: auto !important; 

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.odoo-iframe::-webkit-scrollbar {
  display: none;
}