@use  'sass:color';
@use '../../shared/scss-Styles/colors.scss' as *;

   
         .btn-primary {
            background-color:$main-color;
            border:$main-color;
            transition: background-color 0.2s ease-in-out;
        }
        
        .btn-primary:hover {
          
            background-color: $main-color-darkness; /* A slightly darker shade for hover */
        }

        /* Custom focus styles for form controls to match the theme */
        .form-control:focus {
            border-color:#5cb85c; /* A lighter purple for focus border */
            box-shadow: 0 0 0 0 ;
        }

        /* Style for the floating label when the input is focused */
        .form-floating > .form-control:focus ~ label  ~ .form-control:not(:placeholder-shown){
            color: $main-color;
            top: -0.125rem;
//     font-size: 0.8rem;
        }

        /* Card styling */
        .card {
            border: none;
            border-radius: 1rem; /* More rounded corners */
        }
        .custom-form-floating {
            position: relative;
            margin-bottom: 1.7rem;
        }

        /* The input field itself */
        .custom-form-floating .form-control {
            padding: 0.6rem;
            padding-top: 1.5rem; /* Make space for the label */
            height: auto; /* Override Bootstrap's fixed height */
        }
        
        .form-control:focus {
            border-color: #5cb85c	;
            box-shadow: 0 0 0 0;
        }

        /* Make the default placeholder invisible */
        .custom-form-floating .form-control::placeholder {
            color: transparent;
        }

        /* The custom label */
        .custom-form-floating .form-label {
            position: absolute;
            left: 0.625rem;
            top: 0.9rem; /* Adjusted for vertical centering */
            font-size: 1rem;
            color: #888;
            transition: all 0.3s ease;
            pointer-events: none; /* Allows clicking through the label */
            background-color: white;
            padding: 0 0.3125rem;
        }

        /* State when the input is focused or has content */
        .custom-form-floating .form-control:focus + .form-label,
        .custom-form-floating .form-control:not(:placeholder-shown) + .form-label {
            top: -0.625rem;
            font-size: 0.8rem;
            // color: #5cb85c	;
        }

        /* Remove Bootstrap's default floating label styles to avoid conflict */
        .form-floating > .form-control {
            padding: 1rem 0.75rem;
        }
        .form-floating > label {
            transform: none;
        }
